@model DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="grid-container">
        <div class="grid-item p-3">
            <nav class="side-bar">
                <h2 class="logo">
                    Savio
                </h2>
                <ul class="nav-items">
                    <div class="nav-field">
                        <span class="material-symbols-outlined">
                            dashboard
                        </span>
                    <li class="nav-text"><a href="#">Dashboard</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                account_balance
            </span>
            <li class="nav-text"><a href="#">Accounts</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                receipt_long
            </span>
            <li class="nav-text"><a href="#">Transactions</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                energy_savings_leaf
            </span>
            <li class="nav-text"><a href="#">Budgets</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                target
            </span>
            <li class="nav-text"><a href="#">Goals</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                crowdsource
            </span>
            <li class="nav-text"><a href="#">Investments</a></li>
        </div>
        </ul>

        <div class="logout">
            <span class="material-symbols-outlined">
                logout
            </span>
            <button class="logout-btn">
                Log out
            </button>
        </div>
        </nav>

    </div>
    <div class="grid-item p-4">

        <h2 class="section-header">
            Dashboard
        </h2>

        <div class="transactions">
            <h2 class="table-header">Recent Transactions</h2>
            <div class="center">
                <table class="transactions-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>More Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var transaction in Model.transactions.Take(5))
                        {
                            <tr>
                                <td>@transaction.TransactionType</td>
                                <td>@transaction.TransactionAmount</td>
                                <td>@transaction.TransactionTime</td>
                                <td><button class="view-more">View</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    <div class="grid-item">
        
    </div>
</div>
    </div>
