@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="grid-container">
        <div class="grid-item p-3">
            <nav class="side-bar">
                <h2 class="logo">
                    Savio
                </h2>
                <ul class="nav-items">
                    <div class="nav-field">
                        <span class="material-symbols-outlined">
                            dashboard
                        </span>
                    <li class="nav-text"><a href="#">Dashboard</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                account_balance
            </span>
            <li class="nav-text"><a href="#">Accounts</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                receipt_long
            </span>
            <li class="nav-text"><a href="#">Transactions</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                energy_savings_leaf
            </span>
            <li class="nav-text"><a href="#">Budgets</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                target
            </span>
            <li class="nav-text"><a href="#">Goals</a></li>
        </div>
        <div class="nav-field">
            <span class="material-symbols-outlined">
                crowdsource
            </span>
            <li class="nav-text"><a href="#">Investments</a></li>
        </div>
        </ul>

        <span class="material-symbols-outlined">
            crowdsource
        </span>
        <button class="logout">
            Log out
        </button>
        </nav>

    </div>
    <div class="grid-item p-4">

        <h2 class="section-header">
            Dashboard
        </h2>
    </div>

    <div class="grid-item">
        jbkhbkh
    </div>
</div>
    </div>
